@import url(https://fonts.googleapis.com/css?family=Neuton:400,700);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F5DAFF;
}

header {
	background-color: black;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	content:' ';
	display: block;
	clear: both;
}

#DCLS {
	display: block;
	width: 694px;
	margin: 0 auto;
}

nav {
  	position: fixed;
    right: 1rem;
    width: 7rem;
    text-align: center;
    background-color: white;
  	padding: .4rem; 
	border: .3rem solid;
	border-color: #CF0323;
	border-radius: .5rem;
}

nav a {
	font-family: "Neuton", serif; 
  	font-weight: 700; 
    color: #CF0323;
  	font-size: 1.1rem;
  	text-decoration: none;
  	text-transform: uppercase;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

h1 {
  	color: #CF0323;
  	font-size: 2.25rem;
  	font-family: "Neuton", serif; 
  	font-weight: 700; 
  	text-align: center;
  	text-shadow: .1rem .1rem #CF7D98;
  	line-height: 1.2em;
  	margin: 1.5rem 0 0 0;
}

h2 {
	color: #6D00B5;
	font-size: 1.6rem;
	font-family: "Rock Salt", cursive, serif;
	font-style: italic;
	text-align: center;
	/*padding: 1rem;*/
	margin: 0 0 .8rem 0;
}

p {
	font-size: 1.25rem;
	font-family: "Neuton", serif; 
	color: #382D63;
	font-weight: 400;
	line-height: 1.1em;
	margin-bottom: 1rem;
}

ul {
	list-style-type: disc;
	color: #382D63;
	padding-left: 2rem;
}

ol {
	list-style-type: decimal;
	color: red;
	padding-left: 2.5rem;
}

li {
	font-size: 1.25rem;
	font-family: "Neuton", serif; 
	color: #382D63;
	font-weight: 400;
	line-height: 1.1em;
	padding-bottom: .4em;
}

p + li {
	margin-bottom: none;
}

li:before {
    color: #CF0323;
}

.bold_italic_purple {
	font-weight: 800;
	font-style: italic;
	color: #6D00B5;
}

.bold_purple {
	font-weight: 800;
	color :#6D00B5;
}

.bold_red {
	font-size: 1.25rem;
	font-weight: 800;
	color: #CF0323;
}

.bold {
	font-weight: 800;
}

.more {
	color: #6D00B5;
  	font-size: 1.25rem;
  	font-family: "Neuton", serif; 
  	font-weight: 500;
  	font-style: italic;
  	text-align: center;
	margin-top: 1.25rem
}

.pic {
	border: .1rem solid;
	border-color: #6d4cb5;
	box-shadow: .4rem .4rem .2rem #C4AEE1;
}

#dance_gif {
	width: 60%;
	float: right;
	margin-left: 1.5rem;
}

#callers {
	display: block;
	float: left;
	width: 60%;
}

.callerbox {
	float: left;
	display: inline;
	width: 92%;
	margin-right: 8%;
	margin-bottom: .8rem;
}

.callerpic {
	float: left;
	width: 30%;
	border: .1rem solid;
	border-color: #6d4cb5;
	box-shadow: .4rem .4rem .2rem #C4AEE1;
	margin-right: 4%;
}

.callerbox p {
	float: left;
	width: 66%;
	font-size: 1.1rem;
	line-height: 1.3rem;
	padding-left: .5rem;
}

#jazzy {
	float: right;
	width: 40%;
}

#hotel {
	float: left;
	width: 37.5%;
	margin: 0 2rem 1.5rem 0;
}

#floor {
	float: right;
	width: 52%;
	margin-left: 3rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#quote {
	float:right;
	width: 42%;
	margin-left: 5%;	
}

#quote p {
	font-size: 1.3rem;
	font-family: "Neuton", serif; 
	font-weight: 500;
	color: #6D00B5;
	font-style: italic;
	text-align: right;
	line-height: 1.1em;
}

#bell {
	float: left;
	width: 12%;
	margin: .5rem 2rem 0 0;
}

#address {
	margin-left: 4rem;
	margin-top: .4rem;
	font-family: "Arial", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #6D00B5;
}

#paypal {
	float: right;
	width: 25%;
	margin-top: 3rem;
}

#sessions {
	list-style-type: none;
}

#sessions li {
	font-size: 1.1rem;
	font-style: italic;
	line-height: 1em;
	padding-left: .1em;
}

#icecream {
	float: right;
	width: 30%;
	margin-left: 3rem;
	margin-top: 2.5rem;
}

footer {
	display: block;
	background-color: black;
	width: 100%;
}

#footsie {
	width: 80%;
	background-color: black;
	margin: 1rem auto .8rem auto;
}

.logos {
	float: left;
}

#club {
	float:left;
	background-color: black;
	font-family: Arial, sans-serif;
	color: white;
	font-size: 1rem;
	text-align: center;
	margin: 1.2rem;
}

#website {
	color: #F5DAFF;
	font-weight: 700;
}
