@import url(https://fonts.googleapis.com/css?family=Neuton:400,700);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: black;
}

#DCLS {
	display: block;
	width: 694px;
	margin: 0 auto;
	border: 0;
	padding: 0;
}

body {
	background-color: #F5DAFF;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	content:' ';
	display: block;
	clear: both;
}

#register {
    width: 100px;
    text-align: center;
  	padding: 4px; 
	border: 5px solid;
	border-color: #CF0323;
	border-radius: 8px;
  	position: fixed;
    right: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

#register a {
	font-family: "Neuton", serif; 
  	font-weight: 700; 
    color: #CF0323;
  	font-size: 18px;
  	text-align: center;
  	text-decoration: none;
}

h1 {
  	color: #CF0323;
  	font-size: 36px;
  	font-family: "Neuton", serif; 
  	font-weight: 700; 
  	text-align: center;
  	text-shadow: 1px 1px #CF7D98;
  	line-height: 1.2em;
  	margin: 30px 0 0 0;
}

h2 {
	color: #6D00B5;
	font-size: 24px;
	font-family: "Rock Salt", cursive, serif;
	font-style: italic;
	text-align: center;
	padding:20px;
	margin: 0px 0 10px 0;
}

p {
	font-size: 20px;
	font-family: "Neuton", serif; 
	color: #382D63;
	font-weight: 400;
	line-height: 1.1em;
	margin-bottom: 20px;
}

ul {
	list-style-type: disc;
	color: red;
	padding-left: 30px;
}

ol {
	list-style-type: decimal;
	color: red;
	padding-left: 40px;
}

li {
	font-size: 20px;
	font-family: "Neuton", serif; 
	color: #382D63;
	font-weight: 400;
	line-height: 1.1em;
	margin-bottom: 10px;
}

li:before {
    color: #CF0323;
}

.bold_italic_purple {
	font-weight: 800;
	font-style: italic;
	color: #6D00B5;
}

.bold_purple {
	font-weight: 800;
	color :#6D00B5;
}

.bold_red {
	font-size: 20px;
	font-weight: 800;
	color: #CF0323;
}

.bold {
	font-weight: 800;
}

.more {
	color: #6D00B5;
  	font-size: 20px;
  	font-family: "Neuton", serif; 
  	font-weight: 400;
  	font-style: italic;
  	text-align: center;
	margin-top: 20px
}

.pic {
	border: 2px solid;
	border-color: #6d4cb5;
	box-shadow: 5px 5px 2px #C4AEE1;
	margin: 10px;
}

#floatright {
	width: 480px;
	float: right;
	left-margin: 20px;
}

#callers {
	display: block;
	float: left;
	width: 460px;
}

.callerbox {
	float: left;
	display: inline;
	width: 460px;
	margin-bottom: 10px;
}

.callerbox p {
	font-size: 18px;
	float: left;
	width: 290px;
	margin-left: 10px;
}

.callerpic {
	float: left;
	width: 140px;
	border: 2px solid;
	border-color: #6d4cb5;
	box-shadow: 5px 5px 2px #C4AEE1;
}

#jazzy {
	float: right;
	width: 340px;
}

#GCA {
	clear: left;
}

#hotel {
	width: 280px;
	float: left;
	margin-right: 30px;
}

#floor {
	float: right;
	width: 414px;
	margin-left: 30px;
}

#quote {
	font-size: 20px;
	font-family: "Neuton", serif; 
	font-weight: 400;
	color: #6D00B5;
	font-style: italic;
	line-height: 1.2em;
	margin-left: 20px;
}

#bell {
	float: left;
	width: 100px;
	margin: 0 30px 30px 0;
}

#registration {
	clear: both;
}

#address {
	margin-left: 80px;
	margin-top: 20px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #6D00B5;
}

#icecream {
	float:right;
	width: 250px;
	margin-left: 20px;
}

footer {
	clear: both;
	background-color: black;
	display: block;
	float: left;
	padding: 5px;
	margin: 30px auto 0 auto;
}

#footer {
	display: inline;
	font-family: Arial, sans-serif;
	color: white;
	font-size: 16px;
	text-align: center;
	margin: 10px auto 10px auto;
}
