@import url(https://fonts.googleapis.com/css?family=Neuton:400,700);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

header{
	background-color:#FFF
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background-color:#F5DAFF;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

h1 {
  	font-size:40px;
  	font-family:"Neuton", serif; 
  	font-weight:700; 
  	text-align:center;
}

h2 {
	font-size:24px;
	font-family:"Rock Salt", cursive, serif;
	font-style:italic;
	text-align:center;
}

p, li{
	font-size: 20px;
	font-family: "Neuton", serif; 
	font-weight: 400;
	padding: 10px;
}

ul {
	padding-left: 40px;
}

img{
	display: inline-block; 
}
